.cell {
  font-size: 2rem;
  text-align: center;
  border: 1px solid rgb(186, 183, 183);
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.cell:hover {
  background-color: rgba(214, 214, 214, 0.764);
}
